.episode {
  &__content {
    @media #{$tablet-up} {
      display: flex;
    }
  }

  &__left-col {
    @media #{$tablet-up} {
      width: 340px;
      margin-right: 20px;
    }
  }

  &__right-col {
    @media #{$tablet-up} {
      flex: 1;
    }
  }
}

.episode-details {
  margin-bottom: 20px;
}

.episode-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid $c-border;

  &__value {
    color: $c-text-secondary;
  }
}

.episode-item {
  display: block;
  position: relative;
  padding: 15px 12px;
  background: #fff;
  border-radius: 15px;
  color: $c-text-primary;

  &__num,
  &__name {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
  }

  &__name {
    color: $c-text-secondary;
  }

  &__season-badge {
    position: absolute;
    top: 15px;
    right: 15px;
    margin: auto;
    background-color: $c-green;
    color: #fff;
    border-radius: 15px;
    padding: 4px 10px;
    font-size: 12px;
    text-transform: uppercase;
  }
}
