@mixin image-box($flex) {
  flex: $flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;

  @media #{$desktop-up} {
    flex: 1;
    border-radius: 15px 0 0 15px;
  }
}

.quiz {
  position: absolute;
  top: $h-header;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;

  @media #{$tablet-up} {
    padding: 15px 40px;;
  }

  &__container {
    height: 100%;
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    overflow: auto;

    @media #{$desktop-up} {
      flex-direction: row;
    }
  }

  &__image-box--start {
    @include image-box(2);
    background-image: url('../assets/quiz-start.png');
  }

  &__image-box--result {
    @include image-box(1);
  }

  &__image-box--form {
    display: none;

    @media #{$desktop-up} {
      display: block;
      @include image-box(1);
      background-image: url('../assets/quiz-start.png');
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    min-height: 170px;
    border-radius: 0 0 15px 15px;
    padding: 15px 10px;
    background-color: #fff;
    color: $c-text-primary;

    @media #{$desktop-up} {
      padding: 30px;
      border-radius: 0 15px 15px 0;
      align-items: center;
      justify-content: center;
    }

    h2 {
      color: $c-text-secondary;
    }
  }

  &__header {
    @media #{$tablet-up} {
      margin: auto 0;
      text-align: center;
    }
  }

  &__character-name {
    font-size: 32px;
    font-weight: bold;
  }

  &__buttons {
    width: 100%;
  }

  %button {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
  }

  &__button--primary {
    @extend %button;
    background-color: $c-green;
    color: #fff;
  }

  &__button--secondary {
    @extend %button;
    background-color: #fff;
    color: $c-green;
  }

  &__button--action {
    text-transform: uppercase;
  }

  &__form {
    height: 100%;
    width: 100%;
    min-width: 300px;
  }

  &__question-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }

  &__question-info {
    width: 100%;
    text-align: center;
  }

  &__step {
    color: $c-text-placeholder;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__wizard {
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
  }

  &__wizard-text {
    color: $c-text-primary;
    z-index: 1;
  }

  &__wizard--inner {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $c-green;
    border-radius: inherit;
  }

  &__question {
    font-size: 30px;
  }

  &__answers {
    width: 100%;
    margin-bottom: 20px;
  }

  &__answer--text {
    @extend %button;
  }

  &__answer--select {
    width: 100%;
    margin: 15px 0;
    padding: 15px 10px 15px 0;
    border-radius: 15px;
    background-color: $c-green;
    color: #fff;
    cursor: pointer;

    input {
      visibility: hidden;
    }
  }
}
