@import 'base';
@import 'typography';
@import 'transitions';

@import 'components/header';
@import 'components/base-item';
@import 'components/episodes';
@import 'components/episode';
@import 'components/comments';

.main {
  margin: 70px auto 0;
  padding: 30px 15px;
  max-width: 1110px;
}

.go-back-link {
  display: inline-flex;
  align-items: center;
  margin: 0 0 15px;
  font-size: 16px;

  svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.primary-link {
  color: $c-primary;
  text-decoration: underline;
  font-size: 12px;

  &.is-big {
    font-size: 16px;
  }
}

.link-container {
  margin: 15px 0;
  text-align: center;
}

